%p#notice= notice

%p
  %b Airpot from:
  = @voyage.airport_from.info
%p
  %b Airport to:
  = @voyage.airport_to.info
%p
  %b Price:
  = @voyage.price
%p
  %b Crash at:
  = @voyage.crash_at
%p
  %b Arriving at:
  = @voyage.arriving_at
%p
  %b Day:
  = @voyage.day.strftime("%H:%M:%S")

= link_to 'Edit', edit_voyage_path(@voyage)
\|
= link_to 'Back', voyages_path
